.blogpost{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.blogpost h3{
    margin:0px;
    padding: 0px;
}

@media screen and (min-width: 950px){
    input, textarea{
        width:600px;
    }

    textarea{
        height:400px;
    }


}